---
layout: main
---
<div class="row">
  <div class="col-md-12">
    {% for post in paginator.posts %}
    <article>
      <div class="article-date">
        <i class="fa fa-calendar-check-o"></i>{{ post.date | date: '%B %d, %Y' }}
      </div>
      <div class="article-content">
        {{ post.excerpt }}
      </div>
      <div class="read-more pull-right">
        <a href="{{ post.url | prepend: site.baseurl }}">
          Read More
        </a>
        <i class="fa fa-angle-right"></i>
      </div>
    </article>
    {% endfor %}
  </div>
</div>
<div class="row page-paginator">
  <div class="col-md-6">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next-page pull-left" title="Older Posts">
      <i class="fa fa-angle-left"></i>Older Posts
    </a>
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous-page pull-right" title="Newer Posts">
      Newer Posts<i class="fa fa-angle-right"></i>
    </a>
    {% endif %}
  </div>
</div>