---
layout: v1/main
---
<div class="row">
	<div class="col-md-10 col-md-offset-1">
	    <article id="post">
	    	<div class="row">
	    		<div class="col-md-12">
				    <h2 class="article-title">{{ page.title }}</h2>
				    <span class="article-meta">
              			<i class="fa fa-calendar-check-o"></i>{{ page.date | date: '%B %d, %Y' }}
            		</span>
            		<div class="article-content">
						{{ content }}
					</div>
				</div>
			</div>
		</article>
  </div>
</div>
<div class="post-paginator">
	<div class="row">
		{% if page.previous %}
			<div class="col-md-10 col-md-offset-1">
				<a href="{{ page.previous.url }}" class="previous-post" title="Previous">
		      		<div>
		      			<i class="fa fa-angle-left"></i>
	      			</div>
	      			<div>{{ page.previous.title }}</div>
		    	</a>
			</div>
		{% endif %}
		{% if page.next %}
			<div class="col-md-10 col-md-offset-1">
				<a href="{{ page.next.url }}" class="next-post" title="Next">
		      		<div>
		      			<i class="fa fa-angle-right"></i>
	      			</div>
	      			<div>{{ page.next.title }}</div>
		    	</a>
			</div>
		{% endif %}
	</div>
</div>