<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-md-5">
				<span class="copyright">
					&copy; 2014-2017 &nbsp;<a href="{{ site.url }}">Rolando Ramos</a>
				</span>
			</div>
			<div class="col-xs-4 col-md-7">
				<span class="social-profiles float-right">
					<a href="http://ch.linkedin.com/in/rolandoramosrestrepo" target="_blank">
						<svg class="icon icon-linkedin2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin2"></use></svg>
					</a>
					<a href="https://stackoverflow.com/users/6909765/rolspace" target="_blank">
						<svg class="icon icon-stackoverflow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-stackoverflow"></use></svg>
					</a>
					<a href="http://instagram.com/rolspace" target="_blank">
						<svg class="icon icon-instagram"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use></svg>
					</a>
				</span>
			</div>
		</div>
	</div>
</footer>