<footer class="container footer">
  <div class="row">
    <div class="col-md-12">
      <span class="copyright pull-left">Copyright &copy; 2015 <a href="{{ site.baseurl }}">{{ site.title }}</a>. All Rights Reserved.</span>
      <span class="social pull-right">
          <a href="http://ch.linkedin.com/in/rolandoramosrestrepo" target="_blank"><i class="icon-linkedin"></i></a>&nbsp;&nbsp;
          <a href="http://instagram.com/rolspace" target="_blank"><i class="icon-instagram"></i></a>&nbsp;&nbsp;
          <a href="https://plus.google.com/u/0/+RolandoRamosRestrepo/about" target="_blank"><i class="icon-google-plus"></i></a>
      </span>
    </div>
  </div>
</footer>