@import '../core/core-media.css'
@import '../core/core-mixins.css'
@import '../core/core-vars.css'

.icon
	height: 0.5rem
	width: 0.5rem

pre
	background-color: #f5f5f5
	border: 1px solid #ccc
	border-radius: 4px
	color: #333
	display: block
	font-size: 0.875rem
	margin: 0 0 10px
	padding: 9.5px

img
	&.lazyload,
	&.lazyloading
		opacity: 0

	&.lazyloaded
		opacity: 1
		transition: opacity 2s

article
	border-bottom: 1px solid var(--subtext-color)
	margin-bottom: var(--base-margin)

	& .article-date
		@mixin subtext
		font-size: 0.875rem
		margin-bottom: var(--base-margin)

	& .article-title
		color: color(var(--title-color))
		font-family: 'Poppins'
		font-size: 1.625rem
		font-weight: 500

		& a
			color: color(var(--title-color))

		& a:hover
			color: color(var(--title-color-hover))
			text-decoration: none

	& .article-content
		margin-bottom: var(--base-margin)


		& p:first-of-type img
			margin-bottom: calc(var(--base-margin) - 20px)

		& .subtitle
			color: var(--paragraph-color)
			font-family: 'Poppins'
			font-size: var(--base-rem-size)
			font-weight: 500

		& .article-title
			font-family: 'Poppins'
			font-size: 1.625rem
			font-weight: 500
			margin-bottom: var(--base-margin)

			& a
				color: color(var(--title-color))

			& a:hover
				color: color(var(--title-color-hover))
				text-decoration: none

	& .read-more
		margin-bottom: calc(var(--base-margin) + 20px)

	& .read-more a
		@mixin subtext
		font-size: 0.875rem

	& .read-more a:hover
		color: var(--subtext-color-hover)
		text-decoration: none

	& .read-more a:hover .icon
		fill: var(--subtext-color-hover)

	& .read-more a .icon
		fill: var(--subtext-color)
		margin-left: 10px

.page-paginator
	margin-bottom: var(--base-margin)

	& a
		@mixin subtext
		font-size: 0.875rem

	& a .icon
		fill: var(--subtext-color)

	& a:hover
		color: var(--subtext-color-hover)
		text-decoration: none

	& a:hover .icon
		fill: var(--subtext-color-hover)

	& .next-page .icon
		margin-right: 10px

	& .previous-page .icon
		margin-left: 10px

.post-paginator
	margin-bottom: var(--base-margin)

	& a
		@mixin subtext
		font-size: 0.875rem

	& a .icon
		fill: var(--subtext-color)

	& a:hover
		color: var(--subtext-color-hover)
		text-decoration: none

	& a:hover .icon
		fill: var(--subtext-color-hover)

.footer
	border-top: 1px solid var(--base-color)
	bottom: -80px
	color: color(var(--footer-color))
	font-family: 'Poppins'
	font-size: 0.875rem
	height: 40px
	line-height: 40px
	padding: 0px 1.25rem
	position: absolute
	width: 100%

	& .container
		margin-top: 0px
		padding: 0px
		width: 100%

		& .row div
			text-align: center

	& a
		color: color(var(--footer-color))

	& a:hover
		color: color(var(--subtext-color-hover))

	& a:hover .icon
		fill: color(var(--subtext-color-hover))

	& .social-profiles a:hover
		text-decoration: none

	& .copyright a
		text-decoration: underline

	& .footnote
		font-size: 0.813rem
		font-weight: normal
		line-height: 20px
		margin-bottom: 5px
		margin-top: 5px
		text-align: left

		& a
			text-decoration: underline

		& .license
			margin-bottom: 15px

		& .disclaimer
			margin-left: auto
			margin-right: auto
			width: 270px

	& .icon
		fill: color(var(--footer-color))
		height: 1.5rem
		margin-left: 60px
		vertical-align: middle
		width: 1.5rem

	& .icon-linkedin2
		margin-left: 0px

@media (--medium-viewport)
	img.about
		float: right
		margin-left: 20px
		width: 40%

	article
		margin-bottom: calc(var(--base-margin) * 2)

		& .read-more
			margin-bottom: calc(var(--base-margin) * 2)

@media (--large-viewport)
	.footer
		bottom: -40px
		height: 40px
		line-height: 40px
		padding: 0px 30px

		& .container .row div
			text-align: unset

		& .copyright
			float: left !important
			line-height: 55px

		& .social-profiles
			float: right !important

		& .footnote
			float: right !important
			text-align: right !important

			& .license
				margin-bottom: 5px

			& .disclaimer
				width: 100%

		& .icon
			margin-left: 15px