---
layout: default
---
<div class="row">
	<div class="col-md-10 col-md-offset-1">
	    <article id="post">
	    	<div class="row">
	    		<div class="col-md-12">
				    <h2 class="article-title">{{ page.title }}</h2>
				    <span class="article-meta">
              			<i class="fa fa-calendar-check-o"></i>{{ page.date | date: '%B %d, %Y' }}
            		</span>
            		<div class="article-content">
						{{ content }}
					</div>
				</div>
			</div>
		</article>
  </div>
</div>
<div class="paginator row">
	{{% if page.previous.url %}}
	<div class="col-md-10 col-md-offset-1">
		<span>Previous:</span>
		<a href="{{ page.previous.url }}" class="previous">
      		{{ page.previous.title }}
    	</a>
	</div>
	{{% endif %}}
	{{% if page.next.url %}}
	<div class="col-md-10 col-md-offset-1">
		<span>Next:</span>
		<a href="{{ page.next.url }}" class="next">
      		{{ page.next.title }}
    	</a>
	</div>
	{{% endif %}}
</div>