<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-5">
        <span class="copyright">
          &copy; 2017 &nbsp;<a href="{{ site.baseurl }}">{{site.title}}</a>
        </span>
      </div>
      <div class="col-xs-6 col-md-7">
        <span class="social-links">
          <a href="http://ch.linkedin.com/in/rolandoramosrestrepo" target="_blank">
            <span class="fa-stack linkedin">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://plus.google.com/u/0/+RolandoRamosRestrepo/about" target="_blank">
            <span class="fa-stack googleplus">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="http://instagram.com/rolspace" target="_blank">
            <span class="fa-stack instagram">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>